parameters:
    level: max
    tmpDir: ./build/cache/phpstan
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    tipsOfTheDay: false
    paths:
        - src/
        - tests/